[includeIf "os:macos"]
    path = ~/.gitconfig.macos

[includeIf "os:linux"]
    path = ~/.gitconfig.linux

[user]
    name = "Hiroshi Hayakawa"
    email = hhiroshell@gmail.com

[core]
    editor = nvim
    excludesfile = /home/hhiroshell/.gitignore_global

[ghq]
    root = /home/hhiroshell/src

# -----------
# github.com
# -----------
[github]
    user = hhiroshell
