theme = "zenbones"

[editor]
cursorline = true
bufferline = "never"
color-modes = true
text-width = 120

# File formatting options to maintain clean code style
insert-final-newline = true
trim-final-newlines = true
trim-trailing-whitespace = true

[editor.statusline]
left = [
  "mode",
  "spinner",
  "version-control",
  "file-name",
  "read-only-indicator",
  "file-modification-indicator",
]
right = [
  "diagnostics",
  "selections",
  "register",
  "position",
  "file-encoding",
  "file-line-ending",
]
mode.normal = "NORMAL"
mode.insert = "INSERT"
mode.select = "SELECT"

[editor.cursor-shape]
insert = "bar"

[editor.soft-wrap]
enable = true
wrap-at-text-width = true

[editor.inline-diagnostics]
cursor-line = "hint"
other-lines = "hint"

[editor.file-picker]
hidden = false

[keys.normal.c]
p = "paste_clipboard_after"
S-p = "paste_clipboard_before"

[keys.select.c]
y = "yank_to_clipboard"
